html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(243, 230, 214);

}
.login {
    /* width: 90%; */
    /* max-width: 1100px; */
    max-width: 80%;
    margin: 80px auto;
    display: flex;
    border-radius: 20px;
    background-color: rgba(249, 236, 220);
    /* max-height: 100vh; */
    /* box-shadow: 2px 2px 0px 2px #efdac4; */
    box-shadow: 2px 2px 0px 2px #ff82001c;
}
.photo {
 width: 50%;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.log {
    width: 50%;
    text-align: center;
}
.logo {
    margin-bottom: 20px;
}
input {
   transition: 0.3s;

}
/* div .log h1 {
    margin: 10px 0 30px;
    font-size: 32px;
    font-weight: bold;
    color: rgba(99, 56, 30);
} */
input[type="text"],
input[type="password"]  {
    width: 70%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px rgba(200, 179, 166) solid;
    font-size: 16px;
}
button[type="submit"] {
    background-color: rgba(109, 50, 20);
    color: rgba(247, 239, 227);
    width: 70%;
    border-radius: 15px;
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}
.log p {
    margin: 20px 0;
    font-size: 18px;
    color: rgba(100, 72, 43);
}
.log a {
    text-decoration: none;
    color: rgba(100, 72, 43);
}
.check {
    margin: 10px 0;

}
div.check label{
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.log h1 {
    font-size: 32px;
    font-weight: bold;
    /* color: #8a6238; */
    color: #744d35;
     margin: 10px 0 20px;
}
/* .radio-row label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    cursor: pointer;
} */
input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #6d4c2c;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(138, 98, 56, 0.3);
}
p a:hover{
    color: #9d8e78;
}
form input:focus {
    outline: none;
    border-color: #b8945f;
    box-shadow: 0 0 0 3px rgba(184, 148, 95, 0.2);
}