html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
       background: #f8f4ef;
}
section.sign {
   color: #4a3c31;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    /* padding-top: 70px;
    padding-bottom: 50px; */
    margin: 10px 0;
}

.account-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(138, 98, 56, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 500px;

}

.bakery-name {
    color: #8a6238;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.sign form input {
    width: 100%;
    padding: 14px;
    border: 1px solid #d4c2aa;
    border-radius: 12px;
    margin: 12px 0;
    font-size: 16px;
    background: #fcf9f5;
    color: #4a3c31;
    transition: 0.3s;
}

form input:focus {
    outline: none;
    border-color: #b8945f;
    box-shadow: 0 0 0 3px rgba(184, 148, 95, 0.2);
}
.radio-row {
    display: flex;
    justify-content: center; 
    gap: 40px;
    margin-bottom: 20px;
}

.radio-row label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    cursor: pointer;
}

.radio-row input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


.btn {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    background: #8a6238;
    color: #fff;
}

.btn:hover {
    background: #6d4c2c;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(138, 98, 56, 0.3);
}
label.select {
    font-size: 20px;
    /* color: #8a6238; */
}
label {
        color: #8a6238;

}
.radio-row label:focus-within {
    color: #000000;
}
p{
    margin-top: 20px;
    font-size: 18px;
}
p a{
    text-decoration: none;
    color: #8a6238;
    font-size: 20px;
}
p a:hover{
    color: #9d8e78;
}