html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(243, 230, 214);
}

.about-container{
  background-color: rgba(245, 238, 231, 0.921);

  display: flex;
  /* justify-content: center;   */
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
  padding: 60px 60px;
  /* margin: 40px 20px; */
}
.about-img img{
  /* width: 500px; */
  height: 550px;
  /* display: block; */
  border-radius: 10px;
}
.about-text{
    /* position: relative; */
  color: rgba(114, 73, 11, 0.914);
  /* text-align: center;   */
  line-height: 1.5;    
  word-spacing: 4px;  
  margin-top: 20px;  
  font-size: 20px;
  /* width: 100%;     */
  /* max-width: 500px;     */
}
.about-text h2 {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about-text h2::after {
    /* content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: black; */
    content: "";
    position: absolute;
    width: 180px;
    height: 4px;
    /* text-align: left; */
    bottom: -2px;
    left: 0;
    background-color: #b36a29;
    border-radius: 20px;
}
.about-img {
    margin-top: 40p;
}
section.baking {
    color: #7d571e;

}
.about-text p {
    margin-bottom: 15px;
}
.ourBaking {
    text-align: center;
    margin-bottom: 40px;
    /* color: #7d571e; */

}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 80px;
}
.card img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.card {
    /* width: 300px; */
    box-shadow: 2px 2px #f3d3c0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    transition: transform 1s ease;
}
.card:hover{
    transform: scale(1.1);
}
.card h2 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}
.card p{
    margin-bottom: 30px;
}
.ourBaking h1 {
    padding-top: 30px;
    margin: 20px ;
    font-size: 48px;
}
.ourBaking p {
    font-size: 20px;
}
.navbar{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left: 100px; */
    background-color: rgba(189, 162, 129, 0.822);
}
.logoNav{
  height:50px;
  padding-left: 100px;   
}
a{
    color:rgb(138, 82, 42);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    padding-right: 100px;
}
ul li{
    margin-left: 30px;
}.hero{
  position: relative;
  height: 100vh;                
  background-image: url(../images/background.jpeg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hero::before{
  content: "";
  position: absolute;
  inset: 0;                     
  background: rgba(0,0,0,0.45);   
  z-index: 1;
}
.hero-content{
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 20px; 
}
div.navbar .logoNav img {
    width: 50px;
    height: 50px;
    align-items: center;
}  
.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

a.loginNav {
    background-color: red;
}